<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
    <script src="/static/js/welcome.js"></script>
    <link href="/static/css/welcome.css" rel="stylesheet">
</head>
<body>
    <form action="/signUp" method="get">
        <input type="submit" onclick="location.herf('/signUp')" id="signUpButton" value="Sign Up"><br>
    </form>
    <form action="/logIn" method="get">
        <input type="submit" onclick="location.herf('/logIn')" class="logInButton" value="Log In">
    </form>

Welcome to RestorApp!
</body>
</html>
